.setup-container {
  font-family: BlendaScript;
  font-size: 18px;
  min-height: 250px;

  .MuiFormControl-root {
    background-color: white;
    border-radius: 2px;
  }
  .level-wrapper {
    .selecter {
      width: 50%;
    }
  }
}
