#setup-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 111px;
  font-family: BallantinesSerial;
  // background-image: linear-gradient(rgb(255, 241, 112), rgb(255, 217, 0), rgb(255, 174, 0));
  background-image: linear-gradient(#ffe19f 65%, #f8c458 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(5px 5px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px rgb(0, 0, 0));
  padding-left: 20px;
}

.setup-container {
  font-family: BlendaScript;
  font-size: 18px;
  min-height: 250px;

  .MuiFormControl-root {
    background-color: white;
    border-radius: 2px;
  }
  .level-wrapper {
    .selecter {
      width: 50%;
    }
  }
}
