.categoryContainer {
  border: 1px solid grey;
  background-image: url("../../Assets/TilingBg.jpg");
  background-size: 5%;
  padding: 20px;
  margin: 20px;
  padding-bottom: 60px;
  border-radius: 10px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);
}
