.modalCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 24;
  background-color: rgb(231, 231, 231);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #00000080
};