.darkBackground {
  background-size: 150px;
  padding: 20px;
  margin: 20px;
  padding-bottom: 60px;
  border-radius: 10px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);

  &.dark {
    border: 2px solid #516156;
    background-image: url("../../Assets/DarkTiling.jpg");
  }
  &.light{
    background: whitesmoke;
    opacity: 0.8;
  }
}
