button {
  &.btn{
    font-family: engebrechtreRg;
    box-shadow: 4px 8px 5px #000;
    font-size: 35px;
  }
  &#truth {
    background: linear-gradient(rgb(82, 186, 255), rgb(82, 186, 255), rgb(0, 96, 160), rgb(0, 96, 160));
  }

  &#dare {
    background: linear-gradient(rgb(255, 186, 255), rgb(255, 186, 255), rgb(255, 96, 160), rgb(255, 96, 160));
  }

}

h3#or {
  background-image: linear-gradient(rgb(255, 241, 112), rgb(255, 217, 0), rgb(255, 174, 0));
  background-clip: text;
  font-size: 50px;
  font-family: LOKICOLA;
  margin-top: 35px;
  margin-bottom: 25px;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(5px 5px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px rgb(0, 0, 0));
  text-align: center;
}
