h1 {
  font-family: BallantinesSerial;
  font-size: 111px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-image: linear-gradient(#ffe19f 65%, #f8c458 70%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(5px 5px rgb(0, 0, 0));
  filter: drop-shadow(5px 5px rgb(0, 0, 0));
  padding-left: 20px;
  padding-top: 10px;
}

h3 {
  color: gold;
  font-family: BlendaScript;
  font-size: 30px;
}

