body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'BALLW';
  src: local('BALLW'), url(./Assets/Fonts/BALLW.TTF) format('truetype');
}

@font-face {
  font-family: 'BlendaScript';
  src: local('BlendaScript'), url(./Assets/Fonts/BlendaScript.otf) format('opentype');
}

@font-face {
  font-family: 'engebrechtreRg';
  src: local('engebrechtreRg'), url(./Assets/Fonts/engebrechtreRg.ttf) format('truetype');
}

@font-face {
  font-family: 'LOKICOLA';
  src: local('LOKICOLA'), url(./Assets/Fonts/LOKICOLA.TTF) format('truetype');
}